@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 56% 91%;
    --foreground: 267 72% 20%;
    --card: 270 56% 95%;
    --card-foreground: 267 72% 20%;
    --popover: 270 56% 95%;
    --popover-foreground: 267 72% 20%;
    --primary: 267 72% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 270 56% 85%;
    --secondary-foreground: 267 72% 20%;
    --muted: 270 56% 88%;
    --muted-foreground: 267 72% 40%;
    --accent: 14 70% 62%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 267 50% 80%;
    --input: 270 50% 85%;
    --ring: 267 72% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 267 20% 10%;
    --foreground: 0 0% 98%;
    --card: 267 20% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 267 20% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 267 72% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 267 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 267 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 14 70% 62%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 267 20% 25%;
    --input: 267 20% 25%;
    --ring: 267 72% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
